<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
  <a class="navbar-brand" href"#">ホーム</a>

  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="Navber">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">モーメント <span class="sr-only">(現位置)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">通知</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">メッセージ</a>
      </li>
    </ul>

    <ul class="navbar-nav">
      <li>
        <form class="form-inline my-2 my-lg-0">
          <input type="search" class="form-control mr-sm-2" placeholder="キーワード検索" aria-label="検索...">
<!--           <button type="submit" class="btn btn-outline-primary my-2 my-sm-0">検索</button> -->
        </form>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-user-circle fa-2x"></i>
        </a>
      </li>
      <li class="nav-item">
        <button class="btn tweet__btn" type="submit">ツイート</button>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

<div class="container tweet__main__container">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <h2>プロフィール</h2>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header tweet__card__header">
          <div class="row">
            <div class="col-md-1">
              <div>
                <i class="fa fa-user-circle fa-2x"></i>
              </div>
            </div>
            <div class="col-md-11">
              <%= form_for(@tweet) do |f| %>
                <%= f.text_field :text, :class => "form-control form-control-lg mr-sm-2 tweet__text__field", :placeholder => "いまどうしてる？" %>
                <%= f.submit "ツイート", :class => "btn tweet__btn mt-2 pull-right" %>
              <% end %>
            </div>
          </div>
        </div>

        <% @tweets.each do |tweet| %>
          <div class="card-body border-bottom" %>
            <%= tweet.text %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <h2>おすすめユーザー</h2>
      </div>
    </div>
  </div>
</div>


